<div class="card">
    <div style="height: 450px">
        <img class="card-img-top" [src]="menu.image" alt="Card image" style="height:100%">
    </div>
    <div class="card-img-overlay">
        <div class="content">
            <h4 class="card-title" style="color: white;">{{menu.name}}</h4>
            <div>
                <i *ngFor="let item of rating" class="fa fa-star" style="color: yellow;"></i>
            </div>
            <p style="color: white;">{{menu.descr}}</p>
            <p class="card-text" style="color: white;">
                {{menu.price}}
            </p>
            <div class="row-btns">
                <app-edit-menu [menu]="menu"></app-edit-menu>
                <button type="button" class="btn btn-warning" data-toggle="modal"
                 data-target="#exampleModal"(click)="open(mymodal)">Rate</button>
                <button class="btn btn-info">Order</button>
            </div>
        </div>


    </div>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="text" class="form-control" #ratingInput>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="rate(ratingInput.value)">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">clode</button>
    </div>
</ng-template>