
.row-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row-btns .btn{
    width: 100px;
    margin-top: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 0px;
    margin: 0%;
}

.card{
    width: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
}