
<div class="card">
    <div style="height: 450px">
        <img class="card-img-top" [src]="menu.image" alt="Card image" style="height:100%">
    </div>
    <div *ngIf="isOrdered" style="font-size: 24px;">{{restName}}</div>
    <div class="card-img-overlay">
        <div class="content">
            <h4 class="card-title" style="color: white;">{{menu.name}}</h4>
            <div>
                <i *ngFor="let item of rating" class="fa fa-star" style="color: yellow;"></i>
            </div>
            <p style="color: white;">{{menu.descr}}</p>
            <p class="card-text" style="color: white;">
                ${{menu.price}}
            </p>
            <p *ngIf="isOrdered" class="card-text" style="color: white;">
                {{menu.quantity}} Pieces
            </p>
            <div class="row-btns">
                <app-edit-menu  [menu]="menu" (edit)="editMenu($event)"></app-edit-menu>
                <button  type="button" class="btn btn-warning" data-toggle="modal"
                 data-target="#exampleModal"(click)="open(mymodal)">Rate</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    (click)="open(ordermodal)">Order</button>
                <button  class="btn btn-danger" (click)="deleteItem()">delete</button>
            </div>
        </div>


    </div>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Rating</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <input ngModel pattern="[1-5]" required type="text" class="form-control" #ratingInput="ngModel">
    </div>
    <div [hidden]="ratingInput.valid || !ratingInput.dirty">
        <span class="alert alert-danger">Rating should be [1-5]</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="!ratingInput.valid" (click)="rate(ratingInput.value)">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    </div>
</ng-template>

<ng-template #ordermodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Order Quantity</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <input ngModel pattern="[0-9]*" required type="text" class="form-control" #orderInput="ngModel">
    </div>
    <div [hidden]="orderInput.valid || !orderInput.dirty">
        <span class="alert alert-danger">Quantity must be positive number</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="!orderInput.valid"
            (click)="order(orderInput.value)">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    </div>
</ng-template>