<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: purple;">
    <a class="navbar-brand" href="">Talabat.com</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse"
        data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse id="navbarColor01 [ngbCollapse]="toggleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/restaurants']" routerLinkActive="router-link-active" >Restaurants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/orders']" routerLinkActive="router-link-active" >Orders</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" [routerLink]="['/addMenu']" routerLinkActive="router-link-active">Add Menu</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" [routerLink]="['/addRest']" routerLinkActive="router-link-active">Add restaurant</a>
            </li>
            <li class="nav-item">
                <a *ngIf='!isLoggedin' class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Log in</a>
            </li>
            <li class="nav-item">
                <a *ngIf='isLoggedin' class="nav-link" (click)="logout()">Log out</a>
            </li>
            

        </ul>
    </div>
</nav>