
<div class="card">
    <div style="height: 450px">
        <img class="card-img-top" [src]="restaurant.image" alt="Card image" style="height:100%">
    </div>
    <div class="card-img-overlay">
        <div class="content">
            <h4 class="card-title" style="color: white;">{{restaurant.name}}</h4>
            <div>
                <i *ngFor="let item of rating" class="fa fa-star" style="color: yellow;"></i>
            </div>
            <p style="color: white;">{{restaurant.city}}</p>
            <p class="card-text" style="color: white;">
                {{restaurant.street}}
            </p>
            <a routerLink="/menus/{{restaurant.id}}" routerLinkActive="active" class="btn btn-info">show menu items</a>
            <div class="row-btns">
                <app-edit-restaurant *ngIf="isAdmin" [restaurant]='restaurant'></app-edit-restaurant>
                <button type="button" class="btn btn-warning" data-toggle="modal" 
                data-target="#exampleModal" (click)="open(mymodal)">Rate</button>
                <button *ngIf="isAdmin" class="btn btn-danger" (click)="deleteRest()">Delete</button>
            </div>
        </div>

    </div>
</div>
 
<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Rating</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <input ngModel pattern="[1-5]" required type="text" class="form-control" #ratingInput="ngModel">
    </div>
    <div [hidden]="ratingInput.valid || !ratingInput.dirty">
        <span class="alert alert-danger">Rating should be [1-5]</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [disabled]="!ratingInput.valid"
            (click)="rate(ratingInput.value)">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    </div>
</ng-template>